{%extends 'base.html'%}
{%block container%}
{% with messages = get_flashed_messages()%}
{%if messages%}
<ul>
  {% for message in messages %}
    <li><strong>{{message}}</strong></li>
    {%endfor%}
  </ul>
  {%endif%}
  {%endwith%}
<form class="needs-validation" action='{{url_for('newMessage')}}' method='POST'>
  <div class="form-row">
    <div class="col-md-6 mb-6">
      <div class="input-group-prepend">
   <label class="input-group-text" for="inputGroupSelect01">Customer</label>
 </div>
 <select class="form-control " id="customerSelect" name='customerSelect'multiple required>
   {% for customer in customers %}
     <option value={{customer.id}}><strong>{{customer.name + " - " + customer.phone }}</strong></option>
     {%endfor%}
 </select>
    </div>
    <div class="col-md-8 mb-4">
    <label for="message">Your Message</label>
   <textarea class="form-control" id="message" name ='message' rows="5" placeholder="Enter Your Message" required></textarea></div>

  </div>
   <button class="btn btn-primary" type="submit">Create new Message</button>
</form>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  "use strict";
  window.addEventListener(
    "load",
    function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.getElementsByClassName("needs-validation");
      // Loop over them and prevent submission
      Array.prototype.filter.call(forms, form => {
        form.addEventListener(
          "submit",
          event => {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add("was-validated");
          },
          false
        );
      });
    },
    false
  );
})();
</script>
{% endblock %}
